<html>

<head>
    <title>DolphinSong DAW</title>
</head>

<body>
    <div id="con">
        <canvas width="400" height="400" id="canvas"/>
    </div>
    <div id="info" dropzone="copy">
        drop file here.
    </div>
    <script src="daw.js"></script>
</body>

</html>