<html>

<head>
    <title>DolphinSong DAW</title>
</head>

<body>
    <div id="con" dropzone="copy">
        foo
        <canvas width="800" height="300" id="canvas" />
    </div>
    <img id = "dragImage" width=100 height=100 style="background-color: blue;">
    bar
    </div>
    <script src="daw2.js"></script>
</body>

</html>