<html>
<head>
<style type="text/css">

body{
	margin:0 0;
	background-color:darkgray;
}


#sidebar{
	float:left;
	height:100%;
	width:180px;
}

#sidebar select{
	display:block;
	width:175px;
	margin:5px;
	background-color: rgb(56, 139, 139);
	font-size:0.8em;
	overflow:auto;
}

#main{
	padding-left:180px;
	text-align:center;
	height:100%;
}

#control{
	display : table;
	text-align: center;
	height: 3em;
	width:100% 
}

#control-inner{
	text-align: center;
	display: table-cell;
	vertical-align:bottom;
}

#editor{
	text-align: center;
	position: relative;
	height: 13em;
}

#editor canvas {
	position :absolute;
	top: 0.5em;
	left: 5%;
	width:90%;
	height:12em;
}

#player {
	margin-top:20px;
	text-align: center;
	position:relative;
}

#player table{
	display: inline-block;
	text-align:center;
	border-collapse:collapse;
	background-color:lightcyan;
}

#player table th, #player table td{
	padding: 2px;
	border : 1px solid black;
	width:20px;
	cursor: default;
}

#player table td:hover, #player table th:hover{
	background-color: lightblue;
}

#player table td.dropping, #player table th.dropping {
	border : 0.2em solid black;
}

#player table td input.syncButton{
	margin : 0px;
	padding: 0px;
	width:45%;
	font-size: 1em;
}

#player table td input.halfSpeedButton{
	margin : 0px;
}

#player table td input.doubleSpeedButton{
	margin : 0px;
}


</style>

<title>Dolphin Song</title>
</head>
<body>

<div id="sidebar">
	foobarbaz
	<select id="soundList" dropzone="copy" size=30>
		<% @files.each do |filename| %>
			<option value="<%=filename%>"><%=filename%></option>
		<% end %>
	</select>

</div>

<div id="main">
<div id="control">
	<div id="control-inner">
		<input id="chkMonitor" type="checkbox" value="true" onclick="onMonitorChanged();">monitor[m]</input>
		<input type="button" value="startRecord" onclick="startRecord();"/>
		<input type="button" value="stopRecord" onclick="stopRecord();"/>
		<input type="button" value="startPlay" onclick="startPlay();"/>
		<input type="button" value="stopPlay" onclick="stopPlay();"/>
		<input type="button" value="download" onclick="exportWAV();"/>
		<input type="button" value="upload" onclick="uploadWAV()";/>
	</div>
</div>
<div id="editor">
	<canvas id="canvas"></canvas>
	<canvas id="canvas2" dropzone="copy"></canvas>
</div>
<div id="player">
	<table>
		<tr>
			<% @track_num.times do |n| %>
			<th class="title" title="sample name" dropzone="copy">----</th>
			<% end %>
		</tr>
		<tr>
			<% @track_num.times do |n| %>
			<td class="loadButton" dropzone="copy">&#x2b07;load</td>
			<% end %>
		</tr>	
		<tr>
			<% @track_num.times do |n| %>
			<td class="loadButton2" dropzone="copy">&#x27a1;load</td>
			<% end %>
		</tr>
		<tr>
			<% @track_num.times do |n| %>
			<td class="playButton" dropzone="copy">play</td>
			<% end %>
		</tr>	
		<tr>
			<% @track_num.times do |n| %>
			<td class="speed" dropzone="copy" title="speed">
				<input type="range" class="speedSlider" min="0" max="200" value="100" step="1"/>
				<output class="speedLabel">100%</output>
				<input type="button" class="speedResetButton" value="rst">
			</td>
			<% end %>
		</tr>	
		<tr>
			<% @track_num.times do |n| %>
			<td class="sync" dropzone="copy">
				<input type="button" class="halfSpeedButton" value="/2"/>
				<input type="button" class="syncButton" value="sync"/>
				<input type="button" class="doubleSpeedButton" value="x2"/>
			</td>
			<% end %>
		</tr>
		<tr>
			<% @track_num.times do |n| %>
			<td class="master" dropzone="copy">
				<input type="checkbox" class="masterChk">master</input>
			</td>
			<% end %>
		</tr>
		<tr>
			<% @track_num.times do |n| %>
			<td class="volume" dropzone="copy" title="volume">
				<input type="range" class="volumeSlider" min="0" max="200" value="100" step="1"/>
				<output class="volumeLabel">0.0dB</output>
				<input type="button" class="volumeResetButton" value="rst">
			</td>
			<% end %>

		</tr>
		<tr>
			<% @track_num.times do |n| %>
			<td class="pan" dropzone="copy" title="pan">
				<input type="range" class="panSlider" min="-100" max="100" value="0" step="1"/>
				<output class="panLabel">0.0</output>
				<input type="button" class="panResetButton" value="rst">
			</td>
			<% end %>
		</tr>
		<tr>
			<% @track_num.times do |n| %>
			<td class="quantize" dropzone="copy">
				<input type="checkbox" class="quantizeChk" checked>quantize</input>
			</td>
			<% end %>
		</tr>
		<tr>
			<% @track_num.times do |n| %>
			<td class="offset" dropzone="copy" title="offset">
				<input type="range" class="offsetSlider" min="-4410" max="4410" value="0" step="1"/>
				<output class="offsetLabel">0</output>
				<input type="button" class="offsetResetButton" value="rst">
			</td>	
			<% end %>
	
	</table>
	</div>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
	<script src="aurora.js"></script>
	<script src="aac.js"></script>
	<script src="dolphinsong.js"></script>
</body>
</html>
