<html>

<head>
    <title>title</title>
</head>

    <input type="range" class="volumeSliderDrums" min="0" max="200" value="100" step="1" />
    <input type="range" class="volumeSliderVocals" min="0" max="200" value="100" step="1" />
    
    
    
    <script src="jquery-2.2.4.min.js"></script>
    <script src="stemControl.js"></script>
</body>